# Ignore CLion settings folder
.idea/

# Ignore compiled executables (the programs you run)
dijkstra
sim

# Ignore object files
*.o

# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
